<p>pipe1 works!</p>
<!-- <p>{{'house'|uppercase}}</p> -->

<!-- <p> {{time|date}}</p>
<p> {{time|date:'short'}}</p>
<p> {{time|date:'long'}}</p>
<p> {{time|date:'medium'}}</p>
<p> {{time|date:'full'}}</p>
<p> {{time|date:'shortTime'}}</p>
<p> {{time|date:'longTime'}}</p>
<p> {{time|date:'fullTime'}}</p>
<p> {{time|date:'shortDate'}}</p>
<p> {{time|date:'longDate'}}</p> -->
<!-- <p> {{time|date:'fullDate'}}</p> -->
<!-- <p> {{time|date:'D/M/Y'}}</p> -->

<!-- <p> {{'Insvestment' | slice:2:6}}</p>
<p>{{1/4|percent}}</p>

<p>{{1000|currency:'NGN'}}</p> -->
<!-- <P>HOW|lowercase</P> -->
<div>
    <!-- {{3/4 |percent}} <span>{{'hello' |lowercase}}</span> -->
</div>